<footer class="footer">
    <div class="container">
        <div class="footer__inner-wrapper">
            <h4 class="footer__title">About</h4>
            <p class="footer__paragraph">GetCSSCodes was developed to give developers a tool thatwill help speed up their work and produce a high-quality designed website, and also a playground for people who are currently still learning CSS.</p>
        </div>
        <div class="footer__inner-wrapper footer__contact">
            <h4 class="footer__title">Contact</h4>
            <ul>
                <li><a href="mailto:send@getcsscodes.com" class="footer__link" target="_top">send@getcsscodes.com</a></li>
                <li><a href="https://m.me/getcsscodes" class="footer__link">Messenger</a></li>
            </ul>
        </div>
        <div class="footer__inner-wrapper footer__follow">
            <h4 class="footer__title">Follow</h4>
            <ul>
                <li><a href="https://facebook.com/getcsscodes/" class="footer__link">Facebook</a></li>
                <li><a href="https://twitter.com/getcsscodes" class="footer__link">Twitter</a></li>
                <li><a href="https://www.youtube.com/channel/UCHw6ZoivGtqd9lq6U61legw" class="footer__link">Youtube</a></li>
            </ul>
        </div>
    </div>
</footer>