header{
    background: #202030;
    border: 3px #383856 dashed;
    padding: 25px;
    box-sizing: border-box;
    margin-bottom: 25px;
}

header h1{
    color: #e8994b;
    font-size: 3em;
    margin-bottom: .4em;
}

header p{
    font-size: 1.15em;
}