.input-wrapper{
    position: relative;
}

.input-wrapper input{
    background: #424277;
    color: #ffffff;
    padding: 8px 40px 8px 10px;
}

.input-wrapper input::placeholder{
    color: #b0b0d6;
}

input[type=text]{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.input-wrapper .button{
    background: transparent;
    height: 100%;
    padding: 0 10px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}