.youtube-section{
    margin-bottom: 30px;
}

.section-content h2{
    margin: 1em 0 0 0;
}

.section-content p{
    font-size: 1.15em;
    margin: 1.5em 0 0 0;
}

.section-content ul{
    padding: 0 0 0 2em;
    margin: 0;
    margin-top: .75em;
}

.section-content li{
    font-size: 1.1em;
    margin: .5em 0;
}

.section-content img.image__expand{
    width: 100%;
}