@font-face {
  font-family: mononoki;
  src: url("/assets/fonts/mononoki/mononoki-Regular.woff");
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #222231;
  font-size: 14px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  left: 0;
  -webkit-transition: left .2s linear;
  transition: left .2s linear;
  will-change: left;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  line-height: 1.75em;
}

.page__title {
  color: #e8994b;
  font-size: 1.15em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.underlined__link {
  height: 1.35em;
  color: #e8994b;
  position: relative;
  display: inline-block;
}

.underlined__link::after {
  content: "";
  background: rgba(232, 153, 75, 0.25);
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -25%;
  -webkit-transition: height .1s ease;
  transition: height .1s ease;
  will-change: height;
}

.underlined__link:hover::after {
  height: calc(100% + 25%);
}

span.code {
  background: rgba(232, 153, 75, 0.1);
  font-family: mononoki;
  color: #e8994b;
  border: 1px rgba(232, 153, 75, 0.1) solid;
  border-radius: 3px;
  padding: 0 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.share-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.share-list li {
  margin-left: 10px;
}

.share-list li:first-child {
  margin: 0;
}

.share-list .facebook-button {
  background: #475993;
}

.share-list .twitter-button {
  background: #03a9f4;
}

.share-list .reddit-button {
  background: #ff4500;
}

.coming-soon-container {
  min-height: 350px;
}

.coming-soon-container h2 {
  color: #e8994b;
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: .20em;
}

.coming-soon-container p {
  font-size: 1.1em;
}

.navbar {
  background: #2a2a49;
  width: 100%;
  height: 60px;
  position: relative;
}

.navbar::after {
  content: "";
  width: 100%;
  border-bottom: 3px rgba(0, 0, 0, 0.3) solid;
  position: absolute;
  left: 0;
  bottom: 0;
}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.navbar .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.navbar__collapse {
  width: 100%;
  line-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a.brand {
  height: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brand svg {
  width: 40px;
  height: 40px;
  display: block;
  margin-top: 10px;
}

.navbar__menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__item {
  position: relative;
}

.navbar__item.active::after {
  content: "";
  background: #ff9a36;
  width: 35px;
  height: 3px;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.navbar__item.active a {
  color: #e8994b;
}

.navbar__item a {
  height: 100%;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 15px;
  display: block;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
}

.navbar__item:not(.active) a:hover {
  color: #a5a5d4;
}

.button {
  background: #181823;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

a.button {
  display: inline-block;
}

.button svg {
  width: 20px;
  height: 20px;
  display: block;
}

.button .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  vertical-align: bottom;
}

.button .icon.facebook-icon {
  background-image: url("/assets/images/facebook.png");
}

.button .icon.twitter-icon {
  background-image: url("/assets/images/twitter.png");
}

.button .icon.reddit-icon {
  background-image: url("/assets/images/reddit.png");
}

.button .icon.search-icon {
  background-image: url("/assets/images/search.png");
}

.button-video-label {
  color: #e8994b;
  font-size: 1.15em;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button__video {
  background: #ff2c40;
  font-size: 1.1em;
}

.button__video .icon {
  background-image: url("/assets/images/play-button.png");
  margin-right: 3px;
}

.navbar__collapse-button {
  background: transparent;
  width: 40px;
  height: 40px;
  position: relative;
  opacity: .75;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

.navbar__collapse-button:hover {
  opacity: 1;
}

.navbar__collapse-button span {
  background: #ffffff;
  height: 3px;
  border-radius: 1.5px;
  position: absolute;
  top: 50%;
  left: 5px;
  right: 5px;
}

.navbar__collapse-button span::before,
.navbar__collapse-button span::after {
  content: "";
  background: #ffffff;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  position: absolute;
  left: 0;
}

.navbar__collapse-button span::before {
  bottom: 9px;
}

.navbar__collapse-button span::after {
  top: 9px;
}

a.expand__link {
  position: relative;
}

a.expand__link::after {
  content: "";
  background: #a8a8c1;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.button__float {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
  will-change: transform;
}

.button__float:hover {
  -webkit-transform: translate(0, -4px);
          transform: translate(0, -4px);
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  background: #424277;
  color: #ffffff;
  padding: 8px 40px 8px 10px;
}

.input-wrapper input::-webkit-input-placeholder {
  color: #b0b0d6;
}

.input-wrapper input:-ms-input-placeholder {
  color: #b0b0d6;
}

.input-wrapper input::-ms-input-placeholder {
  color: #b0b0d6;
}

.input-wrapper input::placeholder {
  color: #b0b0d6;
}

input[type=text] {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input-wrapper .button {
  background: transparent;
  height: 100%;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.codes-wrapper {
  position: relative;
  margin: 30px 0;
}

.codes-wrapper__labeled {
  margin-top: 50px;
}

.codes-wrapper__labeled.codes-wrapper__html::after {
  content: "html";
}

.codes-wrapper__labeled.codes-wrapper__js::after {
  content: "js";
}

.codes-wrapper__labeled.codes-wrapper__css::after {
  content: "css";
}

.codes-wrapper__labeled.codes-wrapper__html::after,
.codes-wrapper__labeled.codes-wrapper__js::after,
.codes-wrapper__labeled.codes-wrapper__css::after {
  background: #181823;
  color: #e8994b;
  font-size: 1.15em;
  text-transform: uppercase;
  padding: 5px 20px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.code-label {
  background: #181823;
  color: #e8994b;
  font-size: 1.15em;
  padding: 5px 20px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.codes-wrapper .hljs {
  background: #181823;
  font-family: mononoki;
  line-height: 1.5em;
  padding: 20px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.codes-wrapper .hljs::-moz-selection {
  color: #ffffff;
  background: #e8994b;
}

.codes-wrapper .hljs::selection {
  color: #ffffff;
  background: #e8994b;
}

.codes-wrapper .hljs span::-moz-selection {
  color: #ffffff;
  background: #e8994b;
}

.codes-wrapper .hljs span::selection {
  color: #ffffff;
  background: #e8994b;
}

.codes-wrapper .button {
  background: #383856;
  color: #ffffff;
  font-size: .8em;
  text-transform: uppercase;
  padding: 3px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: .75;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

.codes-wrapper .button:hover {
  opacity: 1;
}

.sidebar__menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar__item {
  padding: 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar__item:first-child {
  margin: 0;
}

.sidebar__item figure {
  background: #181823;
  width: 100%;
  margin: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform .25s linear, -webkit-box-shadow .25s linear;
  transition: -webkit-transform .25s linear, -webkit-box-shadow .25s linear;
  transition: transform .25s linear, box-shadow .25s linear;
  transition: transform .25s linear, box-shadow .25s linear, -webkit-transform .25s linear, -webkit-box-shadow .25s linear;
  will-change: transform, box-shadow;
}

.sidebar__item figure:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
  -webkit-box-shadow: 0 0 3px 3px rgba(232, 153, 75, 0.4);
          box-shadow: 0 0 3px 3px rgba(232, 153, 75, 0.4);
}

.sidebar__item figure img {
  background: #2d2d40;
  width: 100%;
  display: block;
}

.sidebar__item figure figcaption {
  padding: 15px;
}

.sidebar-link-tab .sidebar__item {
  padding: 0;
}

.sidebar-link-tab .sidebar__title {
  padding-left: .75em;
}

.sidebar-link-tab a {
  padding: .75em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block !important;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
}

.sidebar-link-tab .sidebar__item.active a {
  color: #e8994b;
  background: rgba(0, 0, 0, 0.2);
}

.sidebar-link-tab .sidebar__item:not(.active) a:hover {
  color: #a5a5d4;
}

header {
  background: #202030;
  border: 3px #383856 dashed;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 25px;
}

header h1 {
  color: #e8994b;
  font-size: 3em;
  margin-bottom: .4em;
}

header p {
  font-size: 1.15em;
}

.youtube-section {
  margin-bottom: 30px;
}

.section-content {
  margin-top: 20px;
  border: 1px transparent solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-content h2 {
  margin: 1em 0 0 0;
}

.section-content p {
  font-size: 1.15em;
  margin: 1.5em 0 0 0;
}

.section-content ul {
  padding: 0 0 0 2em;
  margin: 0;
  margin-top: .75em;
}

.section-content li {
  font-size: 1.1em;
  margin: .5em 0;
}

.section-content img.image__expand {
  width: 100%;
}

.footer {
  background: #303044;
  width: 100%;
  padding: 30px 0;
  margin-top: 60px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer__inner-wrapper {
  padding-left: 40px;
}

.footer__inner-wrapper:first-child {
  padding: 0;
}

.footer__title {
  color: #a5a5d4;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: .55em;
}

.footer__paragraph,
.footer__link {
  font-size: 1.1em;
}

.footer__link {
  -webkit-transition: color .1s;
  transition: color .1s;
}

.footer__link:hover {
  color: #e8994b;
}

.footer__paragraph {
  margin: 0;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer li {
  margin-top: .5em;
}

.container {
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-spacer {
  width: 100%;
  height: 60px;
}

.top-spacer.top-spacer__expand {
  height: 120px;
}

.top-spacer.top-spacer__collapse {
  height: 0;
}

.section-spacer {
  widows: 100%;
  border-bottom: 2px #383856 dashed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px 0;
}

.wrapper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  width: 345px;
}

.sidebar__title {
  color: #a8a8c1;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: .55em;
}

.sidebar__item a {
  display: block;
}

.aside__more {
  width: 100%;
  color: #e8994b;
  font-size: 1.1em;
  margin-top: .50em;
}

.main {
  width: calc(100% - 345px);
}

.grid {
  width: calc(100% + 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -5px;
}

.grid__item {
  width: 25%;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-link {
  display: block;
}

figure.card {
  margin: 0;
}

.card {
  background: #181823;
  width: 100%;
}

.card {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform .25s linear, -webkit-box-shadow .25s linear;
  transition: -webkit-transform .25s linear, -webkit-box-shadow .25s linear;
  transition: transform .25s linear, box-shadow .25s linear;
  transition: transform .25s linear, box-shadow .25s linear, -webkit-transform .25s linear, -webkit-box-shadow .25s linear;
  will-change: transform, box-shadow;
}

.card:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
  -webkit-box-shadow: 0 0 3px 3px rgba(232, 153, 75, 0.4);
          box-shadow: 0 0 3px 3px rgba(232, 153, 75, 0.4);
}

.card__image {
  background: #2d2d40;
  width: 100%;
  display: block;
}

.card__caption {
  text-align: center;
  padding: 15px;
}

.hero {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.hero__container {
  width: 100%;
  height: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.hero__description {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.hero__image {
  width: 50%;
  position: relative;
}

.hero__image svg {
  height: 300px;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.hero__center {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.hero__description h1 {
  color: #e8994b;
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: .5em;
}

.hero__description p {
  color: #a5a5d4;
  font-size: 1.15em;
  font-weight: 700;
}

@media only screen and (max-width: 400px) {
  .grid__item,
  .sidebar__item {
    width: 100%;
  }
  .seemore-button {
    width: 100%;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .grid__item,
  .sidebar__item {
    width: 50%;
  }
}

@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .button {
    font-size: 1.1em;
    padding: .75em;
  }
  .button__video {
    margin-top: 10px;
  }
  .hero__container {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero__description,
  .hero__image {
    width: 100%;
  }
  .hero__center {
    padding: 60px 0;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .hero__image {
    display: none;
  }
  .wrapper-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  aside {
    width: 100%;
  }
  aside h4 {
    margin: 1em 0;
  }
  .sidebar__menu {
    width: calc(100% + 10px);
    padding: 0;
    margin: -5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sidebar__item {
    padding: 5px;
  }
  .sidebar-link-tab .sidebar__title {
    padding-left: .3em;
  }
  .sidebar-link-tab .sidebar__item {
    width: 50%;
  }
  .main {
    width: 100%;
  }
  .navbar .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar__collapse {
    background: #2a2a49;
    width: 300px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 10;
    -webkit-transition: left .2s linear;
    transition: left .2s linear;
    will-change: left;
  }
  .navbar__collapse.active {
    left: 0;
  }
  .navbar__collapse .navbar__menu {
    display: block;
    margin: 0;
  }
  .navbar__collapse .navbar__item.active::after {
    display: none;
  }
  .navbar__collapse .input-wrapper {
    width: 280px;
    margin: 0 auto;
  }
  .navbar__collapse .input-wrapper input {
    width: 100%;
    padding: 1em 40px 1em 1em;
  }
  .dimmer {
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }
  html.active-sidenav {
    widows: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  body[data-sidenav=true] {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 300px;
  }
  body[data-overflow-x=false] {
    overflow-x: hidden;
  }
  body[data-overflow-y=false] {
    overflow-y: hidden;
  }
  body[data-sidenav=false] {
    position: relative;
    top: 0;
  }
  body[data-sidenav=true] .dimmer {
    display: block;
  }
  .section-content img.image__responsive {
    width: 100%;
  }
  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__inner-wrapper {
    width: 100%;
    padding: 0;
    margin-top: 1em;
  }
  .footer__inner-wrapper:first-child {
    margin: 0;
  }
  .footer__contact {
    width: 70%;
  }
  .footer__follow {
    width: 30%;
  }
}

@media only screen and (min-width: 961px) and (max-width: 1214px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  aside {
    width: 275px;
  }
  aside {
    padding-right: 20px;
  }
  .main {
    width: calc(100% - 275px);
  }
  .navbar__collapse-button {
    display: none;
  }
}

@media only screen and (min-width: 1215px) {
  .container {
    width: 1195px;
  }
  .navbar__collapse-button {
    display: none;
  }
  aside {
    padding-right: 75px;
  }
}

.gsc-result {
  -webkit-transition: background-color .1s;
  transition: background-color .1s;
}

.gsc-above-wrapper-area {
  border-bottom: 3px #383856 dashed !important;
}

.gsc-result-info,
.gsc-orderby-label {
  color: #ffffff !important;
}

.gs-result .gs-title, .gs-result .gs-title * {
  text-decoration: none !important;
}

.seemore-button {
  color: #e8994b;
  font-size: 1.1em;
  margin-top: 1em;
}
